In [4]:
import mysql.connector
import pandas as pd

# Database connection details
db_config = {
    'user': 'lol_user',
    'password': 'your_password',
    'host': '35.203.46.85',
    'database': 'lol_retention'
}

# Function to pull data from the database and load it into a DataFrame
def load_data_to_dataframe(query):
    try:
        # Establish a connection to the database
        cnx = mysql.connector.connect(**db_config)
        cursor = cnx.cursor()

        # Execute the query
        cursor.execute(query)

        # Fetch all the rows
        rows = cursor.fetchall()

        # Get column names
        column_names = [i[0] for i in cursor.description]

        # Create a DataFrame
        df = pd.DataFrame(rows, columns=column_names)

        cursor.close()
        cnx.close()

        return df

    except mysql.connector.Error as err:
        print(f"Error: {err}")
        return None

# Query to pull the data with the `rank` included
query = """
SELECT 
    md.*,
    e.`rank` AS division
FROM 
    match_details md
JOIN 
    summoner_details sd ON md.puuid = sd.puuid
JOIN 
    entries e ON sd.summoner_id = e.summoner_id
WHERE 
    md.game_creation_converted IS NOT NULL
ORDER BY 
    md.game_creation_converted ASC;
"""

# Load data into DataFrame
df = load_data_to_dataframe(query)

# Display the DataFrame
print(df)

if __name__ == "__main__":
    # If you want to perform additional operations, you can do so here
    print(df.head())  # Print the first few rows of the DataFrame

            match_id  game_creation  game_duration game_mode     game_type  \
0     NA1_5000175667  1716003518866           1457   CLASSIC  MATCHED_GAME
1     NA1_5000587935  1716058503579           2153   CLASSIC  MATCHED_GAME
2     NA1_5001729337  1716172970375           1677   CLASSIC  MATCHED_GAME
3     NA1_5002301863  1716247755726           2291   CLASSIC  MATCHED_GAME
4     NA1_5002430373  1716256779504           1516   CLASSIC  MATCHED_GAME
...              ...            ...            ...       ...           ...
2219  NA1_5103949983  1725467949278           1482   CLASSIC  MATCHED_GAME
2220  NA1_5103950973  1725467977829           1251    CHERRY  MATCHED_GAME
2221  NA1_5103953745  1725468018159           1331   CLASSIC  MATCHED_GAME
2222  NA1_5103950389  1725468455931           1648   CLASSIC  MATCHED_GAME
2223  NA1_5103952710  1725468956097            923   CLASSIC  MATCHED_GAME

        game_version  map_id  participant_id  \
0     14.10.585.8823      11               5
1     14.10.585.8823      11               6
2     14.10.585.8823      11               8
3     14.10.585.8823      11               8
4     14.10.585.8823      11               6
...              ...     ...             ...
2219  14.17.614.2229      11              10
2220  14.17.614.2229      30               2
2221  14.17.614.2229      11               9
2222  14.17.614.2229      11              10
2223  14.17.614.2229      11               6

                                           summoner_id  \
0     mf6ZfeyH5pGPgxjQvW_7eNhwnFAfvyUvwswLdYeIVxWJCxeL
1     AFRgQV0kgCXi6uVWw_e7VOHOU9q09tCoytsfbngHPYRVfMOJ
2     Q-oy77w54y6vjSzvPfkIr0PQXbDBOYvsM5wPjrpcBzMoB3BR
3     yosJuGtT3UMnj3vtsOognYfb1mGQT9VYQDB0MrBO8AIfAQTQ
4     WW4XgWlSRhDVNm_8MeZ-tczU6FIKNmqm9NkfawRHqx6CF7yZ
...                                                ...
2219  wWqcuKwQEGvNO7fSmcP7AsjqVcRusqYDayMyyrsZPmP4kOlV
2220  XPYiy_IqcOR0oAIvYS4unrW6mQoTx2IYHWPSQh52mUSWsaFZ
2221  q0B3OCUX2mNDYDUKSbTyEIH_Kz5A9P4PK1Gc3Ify1muPTW4o
2222  4GvO8IOQJRVE0ptJTVR304X8vivqqOncFHUNhlxRRdzMZ0ei
2223  LDNH4YIIALbRt1Se5UHPWLIYxWuNVYupiOxgjfZGTxQ6rtde

                                                  puuid  ...  assists  \
0     vHLFXZYgHU2Wno2xVbFkokXMOIkiVBwP2RRbpeGDj9jU4_...  ...       14
1     cSLNjwxB1Pj8uFWGrAUtCSQnMoTl0fPKwZ1-_BWyiJcW07...  ...        8
2     MDimB6sYxv7BmWAG4Q2FBnqAWSXhbDVJ_uVJYg12CK_8JC...  ...        1
3     1D7tHM-wDluR986cWXhx9kGyByqrceI3SDQKU0ZbpFyc9f...  ...        8
4     6LsXSa0VpwxnVIMAGxocC3KxwMoGpBWCPl-D6OfP6y8-kH...  ...        2
...                                                 ...  ...      ...
2219  uIkm0jkM8-cdSU0f4midmyNSSx8dq6VBUSPy1_jk0x09Ey...  ...       12
2220  zh_oTqsw20_ttaGcoql0HcI9i75lkynpaKNmThtB1GzlmV...  ...       10
2221  S6yuteL2ewjkkLoW1rADsExhZJzsHn9TD3seUvhsrbGcjp...  ...        2
2222  wVOMXZ5lbK63bE1wRUx1rjiLxoVbmofLdjAnschzg2yfqH...  ...        9
2223  y_PrIjGozkFLIIjraOzasZjACoM_w8f2Q0WRZLBW3cnhtL...  ...        1

     total_damage_dealt total_damage_taken  gold_earned  vision_score  \
0                 85919              25690        11724            23
1                273419              52192        15075            21
2                166912              21376         9109            18
3                229012              40288        15427             7
4                 83381              29151         7741            13
...                 ...                ...          ...           ...
2219              22109              23586         7297            37
2220             144502              61054        15692             0
2221              45975              15511         5780             2
2222              26709              27661         7120            45
2223              63691              12143         6425             7

      total_minions_killed  team_position  win  game_creation_converted  \
0                       55        UTILITY    1      2024-05-18 03:38:39
1                      263            TOP    1      2024-05-18 18:55:04
2                      244         MIDDLE    0      2024-05-20 02:42:50
3                      194         MIDDLE    0      2024-05-20 23:29:16
4                      139            TOP    0      2024-05-21 01:59:40
...                    ...            ...  ...                      ...
2219                    27        UTILITY    0      2024-09-04 16:39:09
2220                     0                   1      2024-09-04 16:39:38
2221                   102         BOTTOM    0      2024-09-04 16:40:18
2222                    29        UTILITY    0      2024-09-04 16:47:36
2223                   106            TOP    1      2024-09-04 16:55:56

      division
0            I
1          III
2          III
3           IV
4            I
...        ...
2219         I
2220       III
2221        IV
2222        IV
2223         I

[2224 rows x 32 columns]
         match_id  game_creation  game_duration game_mode     game_type  \
0  NA1_5000175667  1716003518866           1457   CLASSIC  MATCHED_GAME
1  NA1_5000587935  1716058503579           2153   CLASSIC  MATCHED_GAME
2  NA1_5001729337  1716172970375           1677   CLASSIC  MATCHED_GAME
3  NA1_5002301863  1716247755726           2291   CLASSIC  MATCHED_GAME
4  NA1_5002430373  1716256779504           1516   CLASSIC  MATCHED_GAME

     game_version  map_id  participant_id  \
0  14.10.585.8823      11               5
1  14.10.585.8823      11               6
2  14.10.585.8823      11               8
3  14.10.585.8823      11               8
4  14.10.585.8823      11               6

                                        summoner_id  \
0  mf6ZfeyH5pGPgxjQvW_7eNhwnFAfvyUvwswLdYeIVxWJCxeL
1  AFRgQV0kgCXi6uVWw_e7VOHOU9q09tCoytsfbngHPYRVfMOJ
2  Q-oy77w54y6vjSzvPfkIr0PQXbDBOYvsM5wPjrpcBzMoB3BR
3  yosJuGtT3UMnj3vtsOognYfb1mGQT9VYQDB0MrBO8AIfAQTQ
4  WW4XgWlSRhDVNm_8MeZ-tczU6FIKNmqm9NkfawRHqx6CF7yZ

                                               puuid  ...  assists  \
0  vHLFXZYgHU2Wno2xVbFkokXMOIkiVBwP2RRbpeGDj9jU4_...  ...       14
1  cSLNjwxB1Pj8uFWGrAUtCSQnMoTl0fPKwZ1-_BWyiJcW07...  ...        8
2  MDimB6sYxv7BmWAG4Q2FBnqAWSXhbDVJ_uVJYg12CK_8JC...  ...        1
3  1D7tHM-wDluR986cWXhx9kGyByqrceI3SDQKU0ZbpFyc9f...  ...        8
4  6LsXSa0VpwxnVIMAGxocC3KxwMoGpBWCPl-D6OfP6y8-kH...  ...        2

  total_damage_dealt total_damage_taken  gold_earned  vision_score  \
0              85919              25690        11724            23
1             273419              52192        15075            21
2             166912              21376         9109            18
3             229012              40288        15427             7
4              83381              29151         7741            13

   total_minions_killed  team_position  win  game_creation_converted  division
0                    55        UTILITY    1      2024-05-18 03:38:39         I
1                   263            TOP    1      2024-05-18 18:55:04       III
2                   244         MIDDLE    0      2024-05-20 02:42:50       III
3                   194         MIDDLE    0      2024-05-20 23:29:16        IV
4                   139            TOP    0      2024-05-21 01:59:40         I

[5 rows x 32 columns]

In [5]:

print(df.columns)

Index(['match_id', 'game_creation', 'game_duration', 'game_mode', 'game_type',
       'game_version', 'map_id', 'participant_id', 'summoner_id', 'puuid',
       'champion_id', 'spell1_id', 'spell2_id', 'item0', 'item1', 'item2',
       'item3', 'item4', 'item5', 'item6', 'kills', 'deaths', 'assists',
       'total_damage_dealt', 'total_damage_taken', 'gold_earned',
       'vision_score', 'total_minions_killed', 'team_position', 'win',
       'game_creation_converted', 'division'],
      dtype='object')

In [6]:
from datetime import datetime, timedelta

# Assuming `df` is your DataFrame with match details

# Define today's date
today = datetime.now().date()

# Define date filters
yesterday = today - timedelta(days=4)
four_weeks_ago = today - timedelta(weeks=4)
five_weeks_ago = today - timedelta(weeks=7)

# Active players: Played today or yesterday
active_players = df[(df['game_creation_converted'].dt.date >= yesterday) & 
                    (df['game_creation_converted'].dt.date <= today)]

# Inactive players: Played between 4 to 5 weeks ago
inactive_players = df[(df['game_creation_converted'].dt.date >= five_weeks_ago) & 
                      (df['game_creation_converted'].dt.date <= four_weeks_ago)]

# Sample up to 25 players per division from active and inactive players
active_samples = active_players.groupby('division').apply(lambda x: x.sample(n=min(len(x), 125), random_state=42))
inactive_samples = inactive_players.groupby('division').apply(lambda x: x.sample(n=min(len(x), 125), random_state=42))

# Combine the two samples
final_sample = pd.concat([active_samples, inactive_samples])

# Display the final DataFrame
print(final_sample)

                     match_id  game_creation  game_duration game_mode  \
division
I        1532  NA1_5102864658  1725345596046           1842   CLASSIC
         1154  NA1_5101278864  1725230659460           1802   CLASSIC
         1865  NA1_5103595134  1725419970832           1815   CLASSIC
         1212  NA1_5101644477  1725249798626           1481    CHERRY
         2000  NA1_5103713885  1725427420526           1696   CLASSIC
...                       ...            ...            ...       ...
IV       394   NA1_5070898666  1722487200249           1353   CLASSIC
         278   NA1_5054741828  1721663638515           1225   CLASSIC
         327   NA1_5063049258  1722027512135           2096   CLASSIC
         419   NA1_5073631721  1722678082046           1350   CLASSIC
         377   NA1_5069797066  1722407641536           2137   CLASSIC

                  game_type    game_version  map_id  participant_id  \
division
I        1532  MATCHED_GAME  14.17.614.2229      11               9
         1154  MATCHED_GAME  14.17.614.2229      11               5
         1865  MATCHED_GAME  14.17.614.2229      11               8
         1212  MATCHED_GAME  14.17.614.2229      30              16
         2000  MATCHED_GAME  14.17.614.2229      11               5
...                     ...             ...     ...             ...
IV       394   MATCHED_GAME  14.15.604.8769      11               9
         278   MATCHED_GAME  14.14.602.7801      11               8
         327   MATCHED_GAME  14.14.603.4237      11               2
         419   MATCHED_GAME  14.15.604.8769      11               1
         377   MATCHED_GAME  14.14.603.4237      11               1

                                                    summoner_id  \
division
I        1532  u5ehEc_aM0iSUozqJ6BnfZoR6LSS_ClgkSsR8oooGXfueSNJ
         1154  PfsRv78AjTam13Ro99RXiZaHY8HbaC3-1g0GCi3NxHzJON9L
         1865  KuRqZJpuOTnNxTqqcTIWlRsqNaBRFynId1ScWn6_rlxOXK6g
         1212  iH0n26GvpyaW0YmWQT3nw4BYLKIFa3NEn2KqarHDm9Ca0I-p
         2000  MljoNtydvCd0NyMxC6IyVauF52hGdFSTi0cGLWZxa-58uPHk
...                                                         ...
IV       394   V8oKtYtBcMCeZ4Cp78dKRsmybaSequfFX_GJrSzmJc_CP9sF
         278   al_2ajqiYmDkpf-Blkrfe4ES3sFfR7AowSLuFPTK9OjhW6Yk
         327   dO8e2Tr8tzouwcN4GnrIhCPJIBBIWJRozKNqPpt1fKLNKNjJ
         419   _YMBv82saPdXjDj2DTc71cQ4GkplmIIRmymHoLwk-5e7m3qg
         377   dXpMnhPNjJSW_JoT2HupFS9Ix_PqWbeXhpQ2DS3dfbWyyzAq

                                                           puuid  ...  \
division                                                          ...
I        1532  Lnu4ZZXKZQvYAGexN1nWYRo2PvSIB4XXXVwk48gAODVxuy...  ...
         1154  8rGvzrWEJoTaOMfg-0Kik8zEwmswQUPduINKoQWB6oeUN5...  ...
         1865  y5Eu6L4UH9X49Rmn3CMmWkdyBgscHrLpKDAtTZNiAyp469...  ...
         1212  LiD-3IwB0z5egwSLxlyfVNkAmVrjBE2wXXaU5rXr2xZWQU...  ...
         2000  rDbTBF89uRPNfiErPd07tMaPi2QCMd_M2SBXbWoUUePvLz...  ...
...                                                          ...  ...
IV       394   TJwWYlsmXP5D_Iz19PdDWjCTN2eO16DiiKPaULUcYNolhe...  ...
         278   QR_s5-q1sgWqF19foM3928IICYMWidzGFO8j2aSK_YCG-P...  ...
         327   AuoCG_FzfgvbUIUUeNh7qJ7b4qKjX6LUD_4HqRyXZzR49N...  ...
         419   ZvssdEqLXftP02lOaO9HwYNGV2O3yV5Pk2e8gFekiAbVik...  ...
         377   UYFtVgOp_luntzzkLtr2jEwZTEX0OfebJn5ja1bdkABlbB...  ...

               assists total_damage_dealt total_damage_taken  gold_earned  \
division
I        1532        7             265694              21469        13936
         1154       11              21279              32034         8833
         1865        5             174264              24500        14083
         1212        2              39974              22426         7250
         2000       11              23941              14351         8914
...                ...                ...                ...          ...
IV       394         1             109959              13122         9718
         278         1             124868              20287         7593
         327         9              17943              12196         8844
         419         2              54643              17036         6767
         377         3             213391              21049        14751

               vision_score  total_minions_killed  team_position  win  \
division
I        1532            20                   257         BOTTOM    0
         1154            70                    32        UTILITY    0
         1865            22                   204         MIDDLE    1
         1212             0                     0                   0
         2000            61                    33        UTILITY    1
...                     ...                   ...            ...  ...
IV       394              9                   190         BOTTOM    0
         278              8                    22         JUNGLE    0
         327             80                    30        UTILITY    1
         419              4                    99            TOP    0
         377             20                   248         MIDDLE    1

               game_creation_converted  division
division
I        1532      2024-09-03 06:39:56         I
         1154      2024-09-01 22:44:19         I
         1865      2024-09-04 03:19:31         I
         1212      2024-09-02 04:03:19         I
         2000      2024-09-04 05:23:41         I
...                                ...       ...
IV       394       2024-08-01 04:40:00        IV
         278       2024-07-22 15:53:59        IV
         327       2024-07-26 20:58:32        IV
         419       2024-08-03 09:41:22        IV
         377       2024-07-31 06:34:02        IV

[746 rows x 32 columns]

C:\Users\matia\AppData\Local\Temp\ipykernel_15052\454631028.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  active_samples = active_players.groupby('division').apply(lambda x: x.sample(n=min(len(x), 125), random_state=42))
C:\Users\matia\AppData\Local\Temp\ipykernel_15052\454631028.py:23: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  inactive_samples = inactive_players.groupby('division').apply(lambda x: x.sample(n=min(len(x), 125), random_state=42))

In [7]:
final_sample.to_csv('final_sample.csv', index=False)

In [8]:
'''
# Extract the PUUIDs to keep
selected_puuids = final_sample['puuid'].unique().tolist()

# Generate the SQL query to delete from summoner_details
delete_summoner_details_query = f"""
DELETE FROM summoner_details 
WHERE puuid NOT IN ({', '.join(['%s'] * len(selected_puuids))})
"""

# Establish database connection
db_config = {
    'user': 'lol_user',
    'password': 'your_password',
    'host': '35.203.46.85',
    'database': 'lol_retention'
}

try:
    cnx = mysql.connector.connect(**db_config)
    cursor = cnx.cursor()

    # Delete from summoner_details
    cursor.execute(delete_summoner_details_query, selected_puuids)

    # Fetch corresponding summoner_ids from summoner_details based on the selected puuids
    fetch_summoner_ids_query = f"""
    SELECT summoner_id 
    FROM summoner_details 
    WHERE puuid IN ({', '.join(['%s'] * len(selected_puuids))})
    """
    cursor.execute(fetch_summoner_ids_query, selected_puuids)
    summoner_ids = [row[0] for row in cursor.fetchall()]

    if summoner_ids:
        # Generate the SQL query to delete from entries using summoner_id
        delete_entries_query = f"""
        DELETE FROM entries 
        WHERE summoner_id NOT IN ({', '.join(['%s'] * len(summoner_ids))})
        """
        cursor.execute(delete_entries_query, summoner_ids)

    # Truncate match_ids and match_details tables
    cursor.execute("TRUNCATE TABLE match_ids")
    cursor.execute("TRUNCATE TABLE match_details")

    cnx.commit()
    cursor.close()
    cnx.close()

    print("Data successfully cleaned and truncated.")

except mysql.connector.Error as err:
    print(f"Database error: {err}")

'''

Data successfully cleaned and truncated.